.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main {
    &.container {
        min-width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        .column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border: 1px solid red;
            overflow-y: scroll;

            font-family: 'Montserrat', sans-serif;
            .row {
                display: flex;
                flex-direction: row;
                height: 20%;
                border: 1px solid green;
                
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
    }
}
#secondary {
    &.container {
        min-width: 100%;
        max-width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        
        overflow-x: scroll;
        ul {
            list-style-type: none;
            li {
                float: left;
                margin: 0 15px;
            }
        }
    }
}

img {
    &.fighter {
        ::before {
            content: "";
            display: block;
            padding-top: 24.16452%;
        }
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;
        max-width: 100px;
        max-height: 100px;
    }
}
